<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<p id="notice"><%= notice %></p>

<div style="width:50%;float:left">
  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Interested Properties </th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.properties.pluck(:name).flatten.join(' ,') %></td>
          <td><%= link_to 'Show', user %></td> 
          <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-mini", data: {remote: true, toggle: "modal", target: "#myModal"} %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: relative; width: 50;%float:left;border:none;margin-top:10%>
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>